<lesson-template>

	<div leftPanel>
		<h2>Welcome to the online JavaScript tutorial</h2>
		<p>
			For study purpose, this tutorial mostly uses the content from
			<a href="https://www.codecademy.com/learn/introduction-to-javascript" target="_blank">Codecademy Learn
				JavaScript course</a> and some other online tutorials.
		</p>
		<p>
			Before starting this tutorial, please finish this <a target="_blank" href="https://google.com">pre-quiz</a>
			first.
		</p>
		<p>
			During the exercise, do not refresh your page.
		</p>
	</div>

	<div rightPanel></div>
</lesson-template>